@CHARSET "UTF-8";
/* 체크박스 */
input[type="checkbox"] {
  appearance: none;             
  -webkit-appearance: none;
  width: 20px;                  
  height: 20px;
  border: 2px solid #bbb;     
  border-radius: 4px;          
  background-color: #fff;       
  cursor: pointer;             
  vertical-align: middle;
  transition: all 0.2s ease;
}

/* 마우스 올릴 때 */
input[type="checkbox"]:hover {
  border-color: #888;
}

/* 체크된 상태 */
input[type="checkbox"]:checked {
  background-color: #007bff;  
  border-color: #007bff;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5L5 9.5L13 1.5' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
}

/* 비활성화 (disabled) */
input[type="checkbox"]:disabled {
  background-color: #e9ecef;
  border-color: #ccc;
  cursor: not-allowed;
}



.form-table tbody tr:hover {
  background-color: #f9f9f9; 
  cursor: pointer;        
  transition: background-color 0.2s;
}

.wait-row:hover {
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#proxyTableBody tr:hover {
  background-color: inherit !important;
  cursor: default !important;
  transition: none !important;
}
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      text-align: center;
      gap: 10px;
    }
	.form-list {
	  min-height: 0;
	  overflow:auto;
      padding: 30px;
      flex: 1;
      padding: 30px;
    }

    .form-list h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

	.page-number{
		cursor: pointer;
	}
	
	.pagination .active{
		font-weight: bold;
	}

    .form-table {
      width: 100%;
      border-collapse: collapse;
    }

    .form-table th, .form-table td {
      border-bottom: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    .form-table th {
      background: #f9f9f9;
      font-weight: bold;
    }

    .btn {
      padding: 5px 12px;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      font-size: 14px;
    }
    
    .flag {
      padding: 5px 12px;
      border: none;
      border-radius: 4px;
      color: white;
      font-size: 14px;
      background: #4CAF50;
    }
    
    .save {
      background: #a6ffff;
    }
    .complete {
    color:black;
    background: #9E9E9E;
    }
	
	.reject {
	color:red;
	background:#ffa6a6;
	}
	
	
    .btn-use {
      background: #4CAF50;
    }

    .btn-unuse {
      background: #9E9E9E;
    }