@CHARSET "UTF-8";
body{
	margin: 0;
}
.full{
	width: 100vw;
	height: 100vh;
}
.center {
	display: flex;
	justify-content: center; /*가로*/
	align-items: center; /*세로*/
}
.vert {
	display: flex;
	flex-direction: column;
	justify-content: center; /*가로*/
	align-items: center; /*세로*/
}
.center-text{
	text-align: center;
}
.border {
	border: 1px solid gray;
}

.input {
	width: 250px;
	height: 40px;
}

.btn-submit {
	width: 258px;
	height: 46px;
	background-color: #f49600;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.btn-cancel {
	width: 150px;
	height: 50px;
	background-color: #FFFFFF;
	color: black;
	font-size: 20px;
}